/* ================================
        Header css
================================ */
header{
  display: flex;
  justify-content: space-between;
  background-color: $lightpink;
  padding: 19px 10px;
}
