/* ================================
        Conflict css
================================ */
#conflict{
  background-color: $lightpink;
  span{
    font-style: italic;
  }
  img{
    padding: 80px 0;
    width: 100%;
  }
  p{
    letter-spacing: rem-calc(-0.22);
  }
  h1{
    padding: 0 20px;
  }
}
