/* ================================
        Hero css
================================ */
#hero{
  background-color: $magenta;
  background-image: url("../img/property/box-hero.jpg");
  
  width: 100%;

}
