/* ================================
        Property css
================================ */
#property{
  background-color: $magenta;
  article{
    color: $white;
    text-align: center;

  }
}
#parentheses{
  font-size: rem-calc(15);
  line-height: rem-calc(21);
  padding: 0 32px;
}
