/* ================================
       Value css
================================ */
#value{
  background-color: $lightpink;
  text-align: center;

  article{
    font-size: rem-calc(20);
  }

  span{
    color: $magenta;
    font-weight: 400;
    font-style: italic;
  }
  img{
    padding: 67px 0;
  }
}
