/* ================================
        Typography css
================================ */
body {
  font-family: 'Open Sans', sans-serif;

  h1,
  p {
    text-align: center;
    color: $graytext;
  }

  h1 {
    font-weight: 700;
    font-size: rem-calc(31);
  }

  p {
    line-height: rem-calc(27);
    font-size: rem-calc(20);
  }

  ul {
    padding: 0;

    li {
      list-style: none;
      line-height: rem-calc(27);
    }
  }
}
